<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changed</key>
	<dict>
		<key>deleted</key>
		<array>
			<string>034809BD-618D-4CE7-A75A-A0FDC064510B</string>
		</array>
		<key>mainMenu</key>
		<dict>
			<key>items</key>
			<array>
				<string>514DBDE5-CF88-4D16-BB96-43A442E6959B</string>
				<string>------------------------------------</string>
				<string>8A563AF8-2DE8-4D25-929D-372C19F406DF</string>
				<string>6914AE1F-E193-4694-A437-3B4B77C5EDA3</string>
				<string>8C1EB196-3B20-4977-9BC5-C575340F3B01</string>
				<string>27B1AA65-D2D4-4C59-8FDA-3AD7D9806722</string>
				<string>------------------------------------</string>
				<string>DD30B7B4-F9B4-4428-8DDB-BCABAC4E7C78</string>
				<string>A294C896-79EE-4722-85EF-EBA6CA5F3C35</string>
			</array>
			<key>submenus</key>
			<dict>
				<key>27B1AA65-D2D4-4C59-8FDA-3AD7D9806722</key>
				<dict>
					<key>items</key>
					<array>
						<string>D1EF27B5-1B12-4B5A-8333-95706B7674EF</string>
						<string>523AA219-BAE9-4A5E-8056-E5C7312C9618</string>
						<string>AC2A7ACF-0D1C-4648-887F-9D7A456B9329</string>
						<string>F5FBFFC2-1AB9-4CD8-9423-8EA7A728B885</string>
						<string>D22F9F5E-7FBF-4027-9666-EA1CBED73AB4</string>
						<string>76FAF4D2-46D2-4C2D-B758-04D951BBCF0F</string>
						<string>1422B5A4-183C-4B41-8A37-4C10ABCED6EF</string>
						<string>F7CB2F01-5751-4DE3-9A40-28E580C09440</string>
						<string>4FF886A1-4D4E-4A56-8D82-9D0F7B50E569</string>
						<string>AA1A1485-F04D-48A0-B757-165003DBCDD2</string>
					</array>
					<key>name</key>
					<string>Bookmarks</string>
				</dict>
				<key>514DBDE5-CF88-4D16-BB96-43A442E6959B</key>
				<dict>
					<key>items</key>
					<array>
						<string>29F01409-F94E-4AEE-A214-3DF5D2FB8DEA</string>
						<string>75B18846-3649-4D19-BB4C-06F930380E4C</string>
					</array>
					<key>name</key>
					<string>Create Project</string>
				</dict>
				<key>6914AE1F-E193-4694-A437-3B4B77C5EDA3</key>
				<dict>
					<key>items</key>
					<array>
						<string>EB75C41E-51E3-4285-B87C-49CF7BF9401C</string>
						<string>6C8290A8-8C2F-49A5-98AB-3830C3F28868</string>
					</array>
					<key>name</key>
					<string>Run Tests</string>
				</dict>
				<key>8A563AF8-2DE8-4D25-929D-372C19F406DF</key>
				<dict>
					<key>items</key>
					<array>
						<string>92D7557D-E84C-4E8E-9CE5-B5438FB1C8AC</string>
						<string>14A0B9A5-2FDD-4732-AA30-3373A8651E15</string>
					</array>
					<key>name</key>
					<string>Build Files</string>
				</dict>
				<key>8C1EB196-3B20-4977-9BC5-C575340F3B01</key>
				<dict>
					<key>items</key>
					<array>
						<string>F88FB49A-A2FD-4868-94EE-477B26013C66</string>
						<string>3D60BB1D-CEA3-4FEE-8D59-FF051DEE3D7A</string>
					</array>
					<key>name</key>
					<string>REST Operations</string>
				</dict>
				<key>A294C896-79EE-4722-85EF-EBA6CA5F3C35</key>
				<dict>
					<key>items</key>
					<array>
						<string>70E3FE04-0FF3-42F7-97B6-7E0322291EE8</string>
						<string>2A9F4190-C21E-4B3A-AABB-8C9B9DF28E3C</string>
					</array>
					<key>name</key>
					<string>Keychain Access</string>
				</dict>
				<key>DD30B7B4-F9B4-4428-8DDB-BCABAC4E7C78</key>
				<dict>
					<key>items</key>
					<array>
						<string>99F6F879-1A67-4F16-ADE8-0F52D88A5874</string>
						<string>8FE063C4-7E00-4695-AA70-DA92031902D7</string>
					</array>
					<key>name</key>
					<string>Deploy To Production</string>
				</dict>
			</dict>
		</dict>
		<key>ordering</key>
		<array>
			<string>47A9C7D8-B9AC-4BB8-997D-70D2C19FEE17</string>
			<string>2DC7EEF6-188D-4D3B-93F7-3BB1B1146A33</string>
			<string>29F01409-F94E-4AEE-A214-3DF5D2FB8DEA</string>
			<string>75B18846-3649-4D19-BB4C-06F930380E4C</string>
			<string>3D60BB1D-CEA3-4FEE-8D59-FF051DEE3D7A</string>
			<string>F88FB49A-A2FD-4868-94EE-477B26013C66</string>
			<string>99F6F879-1A67-4F16-ADE8-0F52D88A5874</string>
			<string>8FE063C4-7E00-4695-AA70-DA92031902D7</string>
			<string>2A9F4190-C21E-4B3A-AABB-8C9B9DF28E3C</string>
			<string>70E3FE04-0FF3-42F7-97B6-7E0322291EE8</string>
			<string>92D7557D-E84C-4E8E-9CE5-B5438FB1C8AC</string>
			<string>14A0B9A5-2FDD-4732-AA30-3373A8651E15</string>
			<string>EB75C41E-51E3-4285-B87C-49CF7BF9401C</string>
			<string>6C8290A8-8C2F-49A5-98AB-3830C3F28868</string>
			<string>D1EF27B5-1B12-4B5A-8333-95706B7674EF</string>
			<string>523AA219-BAE9-4A5E-8056-E5C7312C9618</string>
			<string>AC2A7ACF-0D1C-4648-887F-9D7A456B9329</string>
			<string>76FAF4D2-46D2-4C2D-B758-04D951BBCF0F</string>
			<string>D22F9F5E-7FBF-4027-9666-EA1CBED73AB4</string>
			<string>1422B5A4-183C-4B41-8A37-4C10ABCED6EF</string>
			<string>F5FBFFC2-1AB9-4CD8-9423-8EA7A728B885</string>
			<string>4FF886A1-4D4E-4A56-8D82-9D0F7B50E569</string>
			<string>F7CB2F01-5751-4DE3-9A40-28E580C09440</string>
			<string>AA1A1485-F04D-48A0-B757-165003DBCDD2</string>
			<string>C486BDD5-15E0-415E-9D23-874A12A9027B</string>
			<string>4C8CFC31-D900-4ED7-B69B-C860D98384AB</string>
			<string>02061422-7A3D-4BD8-8D6D-87B2C32E3B7C</string>
			<string>0B8B19FB-D5F6-4559-9A28-136AA8D153C7</string>
		</array>
	</dict>
	<key>deleted</key>
	<array/>
	<key>isDelta</key>
	<true/>
	<key>uuid</key>
	<string>EAA56D13-A1B5-4E3C-B23D-E759499EBE48</string>
</dict>
</plist>
